In [4]:
import os
import sys
import pandas as pd
import numpy as np

# For notebooks — get the current working directory
notebook_dir = os.getcwd()
project_dir = os.path.abspath(os.path.join(notebook_dir, '..'))
sys.path.append(project_dir)

# Then import your module
import Utils.functions as data_viz
import Utils.file_io as file_io

from dotenv import load_dotenv
load_dotenv()

False

In [5]:
print(project_dir)
print(f"{project_dir}/Notebooks/Dataset/data_raw")

/workspaces/RecessionPredictionML
/workspaces/RecessionPredictionML/Notebooks/Dataset/data_raw

In [6]:
file_io.input_csv(f"{project_dir}/Notebooks/Dataset/data_raw")

DataFrame loaded from /workspaces/RecessionPredictionML/Notebooks/Dataset/data_raw.csv

            GS10  DGS2  DGS3MO
1953-04-01  2.83   NaN     NaN
1953-05-01  3.05   NaN     NaN
1953-06-01  3.11   NaN     NaN
1953-07-01  2.93   NaN     NaN
1953-08-01  2.95   NaN     NaN
...          ...   ...     ...
2025-07-11   NaN  3.90    4.41
2025-07-14   NaN  3.90    4.42
2025-07-15   NaN  3.95    4.42
2025-07-16   NaN  3.88    4.41
2025-07-17   NaN  3.91    4.41

[13264 rows x 3 columns]

In [7]:
import imblearn